#root {
 
  
  --bg-color: white;
  --text-color: black;
}

/* Dark theme */
.dark-mode {
  --bg-color: #121212;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  text-align: center;
  /* padding: 20px; */
}

/* Toggle Button */
#theme-toggle {
  background: var(--text-color);
  color: var(--bg-color);
  border: none;
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}


