

#root {
  /* --bg-color: #f4f4f5; */
  --text-color: black;
}


/* Light Mode Styles */
.app-container {
  background-color: #f4f4f5;
  color: black; 
  transition: background 0.3s ease, color 0.3s ease;
}

.app-container.dark {
  background-color: black;
  color: white;
  --bg-color: #121212;
  --text-color: white;



}







